---
import Layout from "../layouts/Main.astro";
import GotyList from "../components/GotyList.astro";
import Button from "../components/Button.astro";
---

<Layout pageTitle="TiredNerds — итоги 2023 года" title="Привет">
    <h1>Итоги 2023 года</h1>
    <GotyList />
</Layout>