---
import "../assets/styles/main.css"

import GotyList from "../components/GotyList.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <div class="container">
            <h1>Итоги 2023 года</h1>
            <GotyList />
        </div>
	</body>
</html>
