---
import Goty from "./Goty.astro";
---
<h2>
    Игры года
</h2>
<div class="grid md:grid-cols-2 md:grid-rows-2 gap-2">
    <div class="md:row-span-2">
        <Goty 
            game="Baldur's Gate 3" 
            image="../img/baldurs-gate-3.jpg" 
            award="203"
            place="1"
        />
    </div>
    <div >
        <Goty 
            game="The Legend of Zelda: Tears of the Kingdom" 
            image="../img/tears-of-the-kingdom.jpg" 
            award="74"
            place="2"
        />
    </div>
    <div class="md:col-start-2">
        <Goty 
            game="Alan Wake 2" 
            image="../img/alan-wake-2.jpg" 
            award="49"
            place="3"
        />
    </div>
</div>