---
---

<nav class="bg-black py-2">
    <div class="flex flex-wrap items-center">
        <img class="h-8 mr-4" src="/img/apple-touch-icon.png" alt="">
        <a class="text-xl text-white border-b-0" href="/">
            End of the Year
        </a>
    </div>
</nav>