---
import Button from "../main/Button.astro";
---

<div class="our-eoty">
    <h1 class="text-5xl pt-8 pb-4 font-semibold">
        Итоги года трех задротов
    </h1>
    <div class="bg-bunker-900 rounded-2xl p-2 sm:p-4 px-2 my-6 sm:my-4">
        <div class="grid md:grid-cols-2 gap-4 content-center">
            <div>
                <img class="rounded-xl" src="/img/our-eoty.jpg" alt="Итоги года трех задротов">
            </div>
            <div class="self-center">
                <p class="text-lg sm:text-xl ">
                    Ну штош, этот год подошел к концу. По сложившимся традициям в конце года надо подводить итоги, ну а мы-то чем хуже? Ничем, мы тоже подведем итоги!
                </p>
                <Button url="https://tirednerds.com/other/itogi-goda-treh-zadrotov/" title="Подробнее" target="_blank"/>
            </div>
        </div>
    </div>
</div>