---
import Button from "../Button.astro";
import Goty from "../Goty.astro";
---

<div class="goty">
    <h2 class="text-4xl pt-8 pb-4 font-semibold">
        Топ 5 игр 2023 года
    </h2>
    <div class="bg-bunker-900 rounded-2xl sm:p-4 px-2 my-6 sm:my-4">
        <div class="grid md:grid-cols-2 md:grid-rows-2 gap-4">
            <div class="md:row-span-2 mt-2 md:mt-0">
                <Goty 
                    game="Baldur's Gate 3" 
                    image="/img/baldurs-gate-3.jpg" 
                    award="204"
                    place="1"
                    url="/2023/goty#Baldur%E2%80%99s%20Gate%203"
                />
            </div>
            <div >
                <Goty 
                    game="The Legend of Zelda: Tears of the Kingdom" 
                    image="/img/tears-of-the-kingdom.jpg" 
                    award="74"
                    place="2"
                    url="/2023/goty#The%20Legend%20of%20Zelda:%20Tears%20of%20the%20Kingdom"
                />
            </div>
            <div>
                <Goty 
                    game="Alan Wake 2" 
                    image="/img/alan-wake-2.jpg" 
                    award="49"
                    place="3"
                    url="/2023/goty#Alan%20Wake%202"
                />
            </div>
            <div>
                <Goty 
                    game="Resident Evil 4 (2023)" 
                    image="/img/resident-evil-4-remake-2023.jpg" 
                    award="9"
                    place="4"
                    url="/2023/goty#Resident%20Evil%204%20(2023)"
                />
            </div>
            <div>
                <Goty 
                    game="Marvel’s Spider-Man 2" 
                    image="/img/marvels-spider-man-2.jpg" 
                    award="9"
                    place="5"
                    url="/2023/goty#Marvel%E2%80%99s%20Spider-Man%202"
                />
            </div>
            <div class="md:row-span-2">
                <Button url="2023/goty" title="Все игры" />
            </div>
        </div>
    </div>
</div>