---
import Year from "../main/Year.astro";
---

<div class="eoty">
    <h2 class="text-4xl pt-8 pb-4 font-semibold">Другие годы</h2>
    <Year 
        year="2022"
        game="Elden Ring"
        url="/2022"
        img="/img/elden-ring.jpg"
    /> 
</div>
