---
import Year from "../main/Year.astro"
---

<div class="eoty">
    <h2 class="text-4xl pt-8 pb-4 font-semibold">
        Другие годы
    </h2>
    <Year 
        year="2023"
        game="Baldur's Gate 3"
        url="/2023"
        img="/img/baldurs-gate-3.jpg"
    />    
</div>