@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding: .8rem;
}

body {
    @apply bg-black text-white font-rubik;
}

.container {
    width: min(100% - 1rem, 960px);
    margin-inline: auto;
    @apply mb-12;
}

h3 {
    @apply text-2xl font-semibold mb-4;
}

.main p {
    @apply mb-4;
}

ol {
    @apply list-inside list-decimal;
}

ul {
    @apply list-inside list-disc;
}

a {
    border-bottom: 1px solid #e37435;
    font-weight: 500;
}

ol :has(li > a:hover),
ol :has(li > a:focus) {
    @apply text-white bg-orange;
    text-decoration: none;
    -webkit-transition: all .3s cubic-bezier(.79, .4, .32, 1.84);
    -o-transition: all .3s cubic-bezier(.79, .4, .32, 1.84);
    transition: all .3s cubic-bezier(.79, .4, .32, 1.84);
}

summary {
    @apply my-2 bg-black inline-block py-1 px-2 rounded-md cursor-pointer;
}