@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rubik', sans-serif;
}

.container {
    width: min(100% - 1rem, 960px);
    margin-inline: auto;
}

h1 {
    @apply text-5xl pt-8 pb-4 font-semibold;
}

h2 {
    @apply text-4xl pt-8 pb-4 font-semibold;
}