@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding: .15rem;
}

body {
    @apply bg-black text-white font-rubik;
}

.container {
    width: min(100% - 1rem, 960px);
    margin-inline: auto;
    @apply mb-12;
}

h1 {
    @apply text-5xl pt-8 pb-4 font-semibold;
}

h2 {
    @apply text-4xl pt-8 pb-4 font-semibold;
}

ol {
    @apply ml-14;
    list-style: symbols;
}

summary {
    @apply mx-10;
}

.main a {
    border-bottom: 1px solid #e37435;
    font-weight: 500;
}

.main a:hover,
.main a:focus {
    @apply text-white bg-orange;
    text-decoration: none;
    -webkit-transition: all .3s cubic-bezier(.79, .4, .32, 1.84);
    -o-transition: all .3s cubic-bezier(.79, .4, .32, 1.84);
    transition: all .3s cubic-bezier(.79, .4, .32, 1.84);
}