---
import Layout from "./Main.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
    <article class="goty">
        <h1 class="text-5xl pt-8 pb-4 font-semibold">{frontmatter.title}</h1>
        <p class="text-lg sm:text-xl">{frontmatter.totalGames} игр суммарно получили {frontmatter.totalAwards} наград «Игра года»</p>
        <slot />
    </article>
</Layout>
