---
import Layout from "./Main.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
    <article class="main">
        <h1 class="text-5xl pt-8 pb-4 font-semibold">{frontmatter.title}</h1>
        <slot />
    </article>
</Layout>
