---
import "../assets/styles/main.css";

const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html class="no-js" lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{pageTitle}</title>
        <meta name="theme-color" content="#fff" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta name="description" content="Подводим итоги года." />
        <meta property="og:url" content="https://goty.tirednerds.com/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content={pageTitle} />
        <meta property="og:description" content="Подводим итоги года." />
        <meta property="og:image" content="https://tirednerds.com/wp-content/uploads/2023/09/main.jpg" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="dfbureau.ru" />
        <meta property="twitter:url" content="https://goty.tirednerds.com/" />
        <meta name="twitter:title" content={pageTitle} />
        <meta name="twitter:description" content="Подводим итоги года." />
        <meta name="twitter:image" content="https://tirednerds.com/wp-content/uploads/2023/09/main.jpg" />
        <link rel="apple-touch-icon" sizes="180x180" href="https://goty.tirednerds.com/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
        <link rel="manifest" href="https://goty.tirednerds.com/img/site.webmanifest">
        <link rel="mask-icon" href="https://goty.tirednerds.com/img/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="https://goty.tirednerds.com/img/favicon.ico">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="msapplication-config" content="https://goty.tirednerds.com/img/browserconfig.xml">
        <meta name="theme-color" content="#ffffff"> 
    </head>
    <body>
        <div class="container">
            <slot />
        </div>
    </body>
</html>
